<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/sebastianbergmann/phpunit/master/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false">
    <testsuite name="CotaPreco\Cielo">
        <directory>./tests/CotaPreco</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="CIELO_AFFILIATION_ID" value="1006993069" />
        <env name="CIELO_AFFILIATION_KEY" value="25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3" />
    </php>
</phpunit>
